<?xml version="1.0" encoding="utf-8"?>
<DataLoggerConfigDocument xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.phoenixcontact.com/schema/dataloggerconfig.xsd" schemaVersion="1.1" xmlns="http://www.phoenixcontact.com/schema/dataloggerconfig">
  <General name="DL_Example" samplingInterval="100ms" publishInterval="1000ms" bufferCapacity="1" />
  <Datasink type="db" dst="/opt/plcnext/logs/datalogger/DL_Example.db" rollover="false" writeInterval="1" maxFileSize="5000000" maxFiles="-1" storeChangesOnly="false" deleteRatio="5" tsfmt="Iso8601" />
  <TriggerCondition preCycles="0" postCycles="0" taskContext="T100">
    <RpnItem type="Variable">Arp.Plc.Eclr/NewProgram1.xRecord</RpnItem>
    <RpnItem type="Operation">RisingEdge</RpnItem>
  </TriggerCondition>
  <Variables>
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Barcode" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Counter" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Power" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Speed" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Operator" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Temperature" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Humidity" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Current" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.Banco_1_Voltage" />
    <Variable name="Arp.Plc.Eclr/NewProgram1.xRecord" />
  </Variables>
</DataLoggerConfigDocument>